<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- -------- -->
	<!-- SCENARIO -->
	<!-- -------- -->
	<div th:fragment="scenario(scenario)" th:object="${scenario}" class="scenario my-4">
		<!-- Title -->
		<h1 class="h2">[[|# *{id} - *{location}|]]</h1>
		
		<!-- Parameters -->
		<div th:replace=":: parameters(${scenario})"></div>
		
		<!-- Sections -->
		<div class="sections my-4">
			<th:block th:each="section : *{sections}">
				<div th:replace=":: section(${section})"></div>
			</th:block>
		</div>

		<!-- Rewards -->
		<div th:replace=":: rewards(*{rewards})"></div>
	</div>


	<!-- ---------- -->
	<!-- PARAMETERS -->
	<!-- ---------- -->
	<div th:fragment="parameters(scenario)" th:object="${scenario}" class="parameters">
		<div th:if="*{not #strings.isEmpty(requirements)}">
			<span class="title">Requirements:</span>
			[[*{requirements}]]
		</div>
		<div th:if="*{not #strings.isEmpty(goal)}">
			<span class="title">Goal:</span>
			[[*{goal}]]
		</div>
		<div th:if="*{not #strings.isEmpty(links)}">
			<span class="title">Links:</span>
			[[*{links}]]
		</div>
	</div>


	<!-- ------- -->
	<!-- SECTION -->
	<!-- ------- -->
	<div th:fragment="section(section)" th:object="${section}" class="section">
		<h2 th:if="*{title != null}" class="h3" th:classappend="|text-*{title.color}|">
			[[*{title.text}]]:
		</h2>
	</div>


	<!-- ------- -->
	<!-- REWARDS -->
	<!-- ------- -->
	<div th:fragment="rewards(rewards)" th:object="${rewards}" class="rewards">
		<div th:if="*{not #lists.isEmpty(newLocations)}">
			<span class="title">New Locations:</span>
			[[*{#strings.listJoin(newLocations, ', ')}]]
		</div>
		<div th:if="*{not #lists.isEmpty(globalAchievements)}">
			<span class="title">Global Achievements:</span>
			[[*{#strings.listJoin(globalAchievements, ', ')}]]
		</div>
		<div th:if="*{not #lists.isEmpty(partyAchievements)}">
			<span class="title">Party Achievements:</span>
			[[*{#strings.listJoin(partyAchievements, ', ')}]]
		</div>
		<div th:if="*{not #lists.isEmpty(rewards)}">
			<span class="title">Rewards:</span>
			[[*{#strings.listJoin(rewards, ', ')}]]
		</div>
	</div>
</body>
</html>