<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- -------- -->
	<!-- SCENARIO -->
	<!-- -------- -->
	<div th:fragment="scenario(scenario)" th:object="${scenario}" class="scenario my-4">
		<h1>[[|# *{id} - *{location}|]]</h1>
		<div class="parameters fs-5">
			<div><span class="title">Requirements:</span> [[*{Requirements}]]</div>
			<div><span class="title">Goal:</span> [[*{goal}]]</div>
			<div><span class="title">Links:</span> [[*{links}]]</div>
		</div>
		<div class="content my-4">
			<div class="introduction mb-4">
				<h2 class="h4">Introduction:</h2>
				[(*{introduction})]
			</div>
			<div class="conclusion">
				<h2 class="h4">Conclusion:</h2>
				[(*{conclusion})]
			</div>
		</div>
	</div>
</body>
</html>