
.scenario h1 {
	font-family: var(--font-pirata-one);
}

.scenario .parameters {
	line-height: 26px;
}

.scenario .parameters .title {
	font-family: var(--font-pirata-one);
	color: var(--gh-blue);
}

.scenario .content {
	line-height: 18px;
}

.scenario .content p {
	margin-bottom: 10px;
}

.scenario .introduction h2 {
	font-family: var(--font-pirata-one);
	color: var(--gh-green);
}

.scenario .conclusion h2 {
	font-family: var(--font-pirata-one);
	color: var(--gh-red);
}

.scenario .rewards {
	line-height: 22px;
}

.scenario .rewards .title {
	font-family: var(--font-pirata-one);
	color: var(--gh-brown);
}