
@font-face {
	font-family: Nyala;
	src: url(../fonts/Nyala.ttf);
}

:root {
	--font-pirata-one: 'Pirata One';
	--font-nyala: Nyala;

	--gh-blue: #1d4679;
	--gh-green: #245714;
	--gh-red: #7c2524;
}

body {
	font-family: var(--font-nyala);
}

.navbar-brand {
	font-family: var(--font-pirata-one);
}